In [136]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [137]:
load_dotenv()

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
db = os.getenv('DB_NAME')

engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}")

In [97]:
df = pd.read_sql_table('offers', engine)

# Job Title for Junior Spec

In [138]:
query = """
SELECT job_title, position_level FROM offers WHERE position_level = 'Młodszy specjalista (Junior)'
"""

df = pd.read_sql_query(query,engine)
df

,job_title,position_level
0,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
1,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
2,Junior Data Consultant,Młodszy specjalista (Junior)
3,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
4,Python Junior Developer,Młodszy specjalista (Junior)
5,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
6,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
7,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
8,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
9,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
10,Junior Data Consultant,Młodszy specjalista (Junior)
11,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
12,Python Junior Developer,Młodszy specjalista (Junior)
13,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
14,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
15,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
16,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
17,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
18,Junior Data Consultant,Młodszy specjalista (Junior)
19,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
20,Python Junior Developer,Młodszy specjalista (Junior)
21,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
22,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
23,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
24,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
25,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
26,Junior Data Consultant,Młodszy specjalista (Junior)
27,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
28,Python Junior Developer,Młodszy specjalista (Junior)
29,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
30,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
31,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
32,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
33,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
34,Junior Data Consultant,Młodszy specjalista (Junior)
35,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
36,Python Junior Developer,Młodszy specjalista (Junior)
37,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
38,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
39,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
40,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
41,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
42,Junior Data Consultant,Młodszy specjalista (Junior)
43,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
44,Python Junior Developer,Młodszy specjalista (Junior)
45,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
46,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
47,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)
48,Junior System Integration Test Engineer,Młodszy specjalista (Junior)
49,"Software Engineer II - Infrastructure, EasyGCP",Młodszy specjalista (Junior)
50,Junior Data Consultant,Młodszy specjalista (Junior)
51,Junior Data Scientist (Credit Risk),Młodszy specjalista (Junior)
52,Python Junior Developer,Młodszy specjalista (Junior)
53,Software Engineer II - Data Lineage,Młodszy specjalista (Junior)
54,Software Engineer II - Chrome Browser Enterprise,Młodszy specjalista (Junior)
55,"Software Engineer - Early Career, 2025 Start",Młodszy specjalista (Junior)

# Jobs in specific country

In [139]:
query = """
SELECT job_title, city FROM offers WHERE city = 'Warszawa'
"""

df = pd.read_sql_query(query,engine)
df

                         job_title      city
0                 Python Developer  Warszawa
1      Network Consulting Engineer  Warszawa
2                  Analityk Danych  Warszawa
3   Analityk Biznesowy / obszar BI  Warszawa
4             Programista Big Data  Warszawa
5                Big Data Engineer  Warszawa
6                 Python Developer  Warszawa
7      Network Consulting Engineer  Warszawa
8                  Analityk Danych  Warszawa
9   Analityk Biznesowy / obszar BI  Warszawa
10            Programista Big Data  Warszawa
11               Big Data Engineer  Warszawa
12                 Analityk Danych  Warszawa
13                Python Developer  Warszawa
14     Network Consulting Engineer  Warszawa
15  Analityk Biznesowy / obszar BI  Warszawa
16                Python Developer  Warszawa
17            Programista Big Data  Warszawa
18               Big Data Engineer  Warszawa
19     Network Consulting Engineer  Warszawa
20                 Analityk Danych  Warszawa
21  Analityk Biznesowy / obszar BI  Warszawa
22            Programista Big Data  Warszawa
23               Big Data Engineer  Warszawa
24                 Analityk Danych  Warszawa
25                Python Developer  Warszawa
26     Network Consulting Engineer  Warszawa
27                 Analityk Danych  Warszawa
28  Analityk Biznesowy / obszar BI  Warszawa
29            Programista Big Data  Warszawa
30               Big Data Engineer  Warszawa
31                Python Developer  Warszawa
32     Network Consulting Engineer  Warszawa
33  Analityk Biznesowy / obszar BI  Warszawa
34                Python Developer  Warszawa
35            Programista Big Data  Warszawa
36               Big Data Engineer  Warszawa
37     Network Consulting Engineer  Warszawa
38                 Analityk Danych  Warszawa
39  Analityk Biznesowy / obszar BI  Warszawa
40            Programista Big Data  Warszawa
41               Big Data Engineer  Warszawa

# The city with the most job offers

In [117]:
query = """
SELECT COUNT(*) AS number_of_jobs,
CASE
    WHEN city LIKE '%%Warszawa%%' THEN 'Warszawa'
    WHEN city LIKE '%%Kraków%%' THEN 'Kraków'
    WHEN city LIKE '%%Poznań%%' THEN 'Poznań'
    WHEN city LIKE '%%Wrocław%%' THEN 'Wrocław'
    WHEN city LIKE '%%Gdynia%%' THEN 'Gdynia'
    WHEN city LIKE '%%Gdańsk%%' THEN 'Gdańsk'
    WHEN city LIKE '%%Białystok%%' THEN 'Białystok'
    ELSE city
END AS city_sum
FROM offers
GROUP BY city_sum
ORDER BY number_of_jobs DESC
LIMIT 1
"""

df = pd.read_sql_query(query, engine)
df

   number_of_jobs simplified_city
0             182        Warszawa

# TOP 20 TECHNOLOGIES

In [131]:
df = pd.read_sql_table('offers', engine)
all_tech = df['technologies'].str.split(',').explode().str.strip()
count = all_tech.value_counts().head(20)
print(count)

technologies
Python        350
SQL           126
JavaScript     70
Java           70
C++            63
Bash           56
C              56
Docker         49
Kubernetes     42
Git            42
Hadoop         28
Grafana        28
Ansible        28
PyTorch        28
PowerShell     28
TensorFlow     21
Jira           21
R              21
Linux          21
Confluence     21
Name: count, dtype: int64

# The highest model work

In [134]:
df = pd.read_sql_table('offers', engine)
model_work = df['model_work'].str.split(',').explode().str.strip()
count = model_work.value_counts()
print(count)

model_work
Praca hybrydowa      259
Praca zdalna         112
Praca stacjonarna     56
Name: count, dtype: int64